<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myPlaylistLabel" jhiTranslate="trmntrApp.playlist.home.createOrEditLabel">Create or edit a Playlist</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!playlist.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="playlist.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="trmntrApp.playlist.showNumber" for="field_showNumber">Show Number</label>
            <input type="text" class="form-control" name="showNumber" id="field_showNumber"
                [(ngModel)]="playlist.showNumber"
            required />
            <div [hidden]="!(editForm.controls.showNumber?.dirty && editForm.controls.showNumber?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.showNumber?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="trmntrApp.playlist.theme" for="field_theme">Theme</label>
            <input type="text" class="form-control" name="theme" id="field_theme"
                [(ngModel)]="playlist.theme"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="trmntrApp.playlist.guest" for="field_guest">Guest</label>
            <input type="text" class="form-control" name="guest" id="field_guest"
                [(ngModel)]="playlist.guest"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="trmntrApp.playlist.airDate" for="field_airDate">Air Date</label>
            <div class="input-group">
                <input id="field_airDate" type="text" class="form-control" name="airDate" ngbDatepicker  #airDateDp="ngbDatepicker" [(ngModel)]="playlist.airDate"
                required/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="airDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <div [hidden]="!(editForm.controls.airDate?.dirty && editForm.controls.airDate?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.airDate?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="trmntrApp.playlist.showType" for="field_showType">Show Type</label>
            <input type="text" class="form-control" name="showType" id="field_showType"
                [(ngModel)]="playlist.showType"
            required />
            <div [hidden]="!(editForm.controls.showType?.dirty && editForm.controls.showType?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.showType?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="trmntrApp.playlist.recordUrl" for="field_recordUrl">Record Url</label>
            <input type="text" class="form-control" name="recordUrl" id="field_recordUrl"
                [(ngModel)]="playlist.recordUrl"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="trmntrApp.playlist.createTime" for="field_createTime">Create Time</label>
            <div class="d-flex">
                <input id="field_createTime" type="datetime-local" class="form-control" name="createTime" [(ngModel)]="playlist.createTime"
                  />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="trmntrApp.playlist.updateTime" for="field_updateTime">Update Time</label>
            <div class="d-flex">
                <input id="field_updateTime" type="datetime-local" class="form-control" name="updateTime" [(ngModel)]="playlist.updateTime"
                  />
            </div>
        </div>

        <div class="form-group">
            <label jhiTranslate="trmntrApp.playlist.member" for="field_member">Member</label>
            <select class="form-control" id="field_member" multiple name="member" [(ngModel)]="playlist.members">
                <option [ngValue]="getSelected(playlist.members, memberOption)" *ngFor="let memberOption of members; trackBy: trackMemberById">{{memberOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
