
<div *ngIf="member">
    <h2><span jhiTranslate="trmntrApp.member.detail.title">Member</span> {{member.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="trmntrApp.member.name">Name</span></dt>
        <dd>
            <span>{{member.name}}</span>
        </dd>
        <dt><span jhiTranslate="trmntrApp.member.status">Status</span></dt>
        <dd>
            <span>{{member.status}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'member/'+ member.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
